:root {
  --heading-font-family: "Space Mono", monospace;
  --default-font-family: "Source Sans 3", sans-serif;
  --heading-color: #000;
  --default-color: #000;
  --branding-color: #faa28c;
  --secondary-color: #c847d0;
  --tertiary-color: #c7f4f1;
  --fourth-color: #cc99fe;
}

/* Global Styles */

body {
  background-color: #f1eff1;
}

h1 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 44px;
  margin: 105px 50px 30px 50px;
}

h2 {
  color: var(--heading-color);
  font-size: 40px;
  font-family: var(--heading-font-family);
  font-weight: normal;
}

h3 {
  color: var(--heading-color);
  font-size: 25px;
  font-family: var(--heading-font-family);
  font-weight: normal;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

a {
  color: var(--default-color);
}

/* Navigation */

.navbar-nav a {
  font-family: var(--heading-font-family);
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.nav-item {
  padding: 0 10px;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: var(--branding-color);
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}

/* Hero Section */

.hero {
  padding-bottom: 70px;
  margin: 0;
  text-align: center;
}

.hero h1 {
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 10px 10px 0;
  align-items: center;
  text-align: center;
}

.btn-group {
  margin: 0 10px;
}

.primary-button, .secondary-button {
  padding: 10px 20px; 
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s ease; 
  font-family: var(--heading-font-family);
  font-size: 1rem;
  line-height: 27px;
  min-width: 100px;
  margin: 20px;
}

.primary-button {
  background: var(--fourth-color);
  border: 4px solid var(--secondary-color);
  color: var(--default-color);
}


.primary-button:hover {
  color: var(--default-color);
  background: var(--secondary-color);
  border: 4px solid var(--fourth-color);
}

.secondary-button {
  background: var(--tertiary-color);
  border: 4px solid var(--branding-color);
  border-radius: 4px;
  color: var(--default-color);
}

.secondary-button:hover {
  color: var(--default-color);
  background: var(--branding-color);
  border: 4px solid var(--tertiary-color);
}

/* Section Title Styling */

.section-title {
  color: #000;
  font-size: 50px;
  font-family: var(--heading-font-family);
  padding: 100px 20px 10px 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  text-decoration: underline #cc99fe;
}


/* Project Section: Card Styling */

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

.card-title {
  text-align: center;
  margin: 20px 0 40px 0;
  text-decoration: underline #cc99fe;
  font-weight: normal;
}

.card-text {
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  text-align: left;
  margin: 40px 20px 40px 15px;
}

.skills-used {
  font: var(--default-font-family);
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-used li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #c7f4f1;
  color: #000;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
}

.card-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.github-repo-link, .live-version-link {
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 8px 20px;
  text-decoration: none;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.github-repo-link {
  background: var(--fourth-color);
  border: 4px solid var(--secondary-color);
  color: var(--default-color);
  font-family: var(--heading-font-family);
}

.github-repo-link:hover {
  color: var(--default-color);
  background: var(--secondary-color);
  border: 4px solid var(--fourth-color);
}

.live-version-link {
  background: var(--tertiary-color);
  border: 4px solid var(--branding-color);
  color: var(--default-color);
  font-family: var(--heading-font-family);
}

.live-version-link:hover {
  color: var(--default-color);
  background: var(--branding-color);
  border: 4px solid var(--tertiary-color);
}

/*About Section*/

.about-section {
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}


.about-section p {
  padding: 30px;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}


.profile-pic {
  border-radius: 4px;
  height: 320px;
  max-width: 100%;
  margin-top: 20px;
}


/* Skills Section */


.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.skill-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.skill-title {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  font-family: var (--default-font-family);
}

.row-skills {
  margin-top: 80px;
}




/* Footer */

footer {
  margin-top: 100px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

footer h2 {
  padding-top: 50px;

}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  text-align: center;
  font-family: var(--default-font-family);
  margin: 30px;
  font-weight: normal;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 30px 20px;
  color: #000;
  font-size: 45px;
  background-color: #f1eff1;
  border-radius: 50%;
  padding: 10px 22px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--branding-color);
}

a.open-sourced:hover {
  color: var(--branding-color);
}

/* Media Queries*/

@media (max-width: 576px) {
  .hero-buttons a {
        width: 100%;
        text-align: center;
    }

    .skills-section .col-2 {
        width: 1%;
        margin-bottom: 20px;
    }
}

/* Media Query for iPad Mini and iPad Air */
@media (max-width: 1024px) {
  .row-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .row-skills .col-2 {
    width: 20%;
    text-align: center;
  }

  .skill-title {
    margin-top: 10px;
    font-size: 14px;
  }
}

/* Media Query specifically for iPad Air */
@media (max-width: 1180px) {
  .row-skills .col-2 {
    width: 25%; 
  }
}

/* Media Query for iPad Pro */
@media (max-width: 1024px) and (max-height: 1366px) {
  .about-section {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  #about {
  padding-left: 60px;
}

.section-title {
    text-align: center; 
    padding-top: 50px; 
  }

  .about-section p {
    max-width: 80%; 
    margin: 20px auto; 
  }

  .profile-pic {
    max-width: 100%; 
    margin-top: 20px; 
  }

  .row-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .row-skills .col-2 {
    width: 15%; 
    text-align: center;
    margin-bottom: 10px; 
  }

  .skill-title {
    text-align: center;
    justify-content: center;
    margin-left: 20px;
  }
}

@media (min-width: 912px) and (max-width: 1368px) {
  .about-section {
    justify-content: center; 
  }

  .section-title {
    text-align: center; 
    padding-top: 50px; 
  }

  .profile-pic {
    margin-bottom: 60px;
  }
}


@media (min-width: 992px) {
  .about-section {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .about-section p {
    flex: 1; 
    text-align: left; 
  }

  .profile-pic {
    margin: 0; 
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 28px;
    padding-top: 0;
    line-height: 1.5;
    margin-top: 75px;
  }

  h2 {
    font-size: 25px;
    text-align: center;
  }

  .hero {
    padding-bottom: 55px;
    margin: 0;
  }

  .section-title {
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
  }

  .primary-button {
    font-size: 18px;
  }

  .secondary-button {
    font-size: 18px;
  }

  .btn-group {
    margin: 3px 3px;
  }

  .about-section {
    text-align: center;
  }

  .about-section p {
    padding-left: 50px;
  }

  .profile-pic {
    max-width: 100%;
    height: 180px;
    padding-bottom: 20px;
    margin: 20px 0px 0px 0px;
  }

  .skills-section {
    text-align: center;
    margin-top: 85px;
  }

  .skills-header {
    background: linear-gradient(120deg, #faa28c 0%, #faa28c 100%);
    background-repeat: no-repeat;
    background-size: 100% 37%;
    background-position: 1px 107%;
  }

  footer {
    width: 100%;
  }

  footer .email-link {
    font-size: 14px;
  }

  footer .social-links a {
    margin: 28px 10px;
    color: #000;
    font-size: 25px;
    background-color: #f1eff1;
    border-radius: 50%;
    padding: 14px 22px;
    transition: all 100ms ease-in-out;
  }

  #copyright {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
  }
