body {
  background-color: #e4bcfe;
}

h1 {
  color: #000;
  font-family: "Space Mono", monospace;
  font-weight: normal;
  margin: 85px 50px 30px 50px;
}

h2 {
  color: #000;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

p {
  font-family: "Spectral", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

a {
  color: #000;
}

.hero {
  padding-bottom: 100px;
  margin: 0;
}

.view-link {
  margin: 20px 50px;
}

.view-link a {
  text-decoration: none;
  font-size: 30px;
  color: #140941;
  font-family: "Space Mono", monospace;
  text-decoration: none;
}

.view-link a:hover {
  text-decoration: underline;
}

.highlight-1 {
  background: linear-gradient(120deg, #f1eb5b 0%, #f1eb5b 100%);
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-position: 0 60%;
}

.highlight-2 {
  background: linear-gradient(120deg, #ee237f 0%, #ee237f 100%);
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-position: 0 60%;
}

.section-title {
  font-size: 40px;
  font-family: "Space Mono", monospace;
  padding: 200px 20px 50px 20px;
}

.primary-button {
  background: #73DFA1;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #000;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  margin-right: 15px;
}

.primary-button:hover {
  color: #fff;
  background: #140941;
}

.secondary-button {
  background: #EE237F;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.secondary-button:hover {
  color: #fff;
  background: #140941;
}

.project-description {
  padding: 120px 40px 120px 50px;
}

.project-image {
  border-radius: 5px;
}
